.body{
  font-family: 'Roboto', sans-serif;
}

#li{
  display: flex;
  justify-items: flex-end;
  margin-left: 300px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: space-around;
    margin-left: 600px;
  }
  li a {
    /* flex: ; */
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }
  .hmepics{
    margin: 10px;
    width: 1400px;
  }
  .Parent {
    display: flex;
    flex-direction: row;
}
.abth1{
  width: 350px;
  text-align: center;
  text-decoration-color: black;
  font-size: xx-large;
  font-weight: 300;
  font-style: var(#333);
  text-align: center;
  padding-left: 520px;
}
.abth1{
  text-align: justify;
text-transform: uppercase;
padding-top: 5px;
}
.abth1{
  background-color: black;
  color: white;
  width: 735px;
  height: 50px;
}
.child1 {
  width: 265px;
  height: 240px;
  padding-top: 50px;
  background-color: green;
}

.abtpics{
  width: 250px;
  height: 240px;
}
.child2 {
  width: 950px;
  padding: 0;
  height: 469px;
  border: green solid 5px;
  margin: 50px;
  position: relative;
  left: 250px;
  bottom: 335px;
}
.wrkpics{
  width: 750px;
  height: 700px;
}
.wrkpics1{
  width: 500px;
  height: 700px;
 position: relative;
 bottom: 704px;
}
.beside2{
  width: 600px;
  height: 700px;
 position: relative;
 bottom: 50px;
 top: 0px;
}
.wrh{
  padding-bottom: 1600px;
}
.wrp1{
border: green solid 5px;
width: 310px;
height: 280px;
position: relative;
top: 72px;
}
.wrp2{
  border: green solid 5px;
  width: 310px;
  height: 280px;
position: relative;
left: 343px;
bottom: 220px;
  }
  .wrp3{
    border: green solid 5px;
    width: 310px;
    height: 280px;
    position: relative;
    left: 690px;
    bottom: 508px;
    }
    .wrp4{
      border: green solid 5px;
      width: 310px;
      height: 280px;
      position: relative;
      left: 1025px;
      bottom: 800px;
      }
    .wrk1{
background-color: black;
width: 1350px;
height: 10px;
color: white;
    }
    .wrk1{
    text-align: center;
  text-transform: uppercase;
 padding-top: 30px;
position: relative;
bottom: 20px;
    }
.resdiv{
position: relative;
bottom: 2330px;
}
.res1{
  text-align: center;
text-align: justify;
}
.respics1{
  float: left;
}
/* heading for resumes and proceed to contact*/
.conhd{
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.cont1{
  position: relative;
  bottom: 2200px;
}
.cont1{
  background-color: #fc7b03;
}
.cont1{
  background-image: linear-gradient(rgb(248, 225, 225), rgb(243, 243, 220));
}
.cont1{
  opacity: 0.5;
}

.frm{
  position: relative;
  bottom: 2150px;
}
/*header for resumes lool for solution to the nav bar and chech for a better way to the the text on contact to be both